.gallery-container{
    background-color: #f0f0f0 !important;
    padding: 20px !important;
}

.gallery-heading {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #c7c7c7;
  color: #474747;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-family:'Helvetica Neue', Arial, sans-serif;
}

.name-heading {
  position: relative;
  font-size: 20px;
  line-height: 1.3;
}

.card-container {
  background-color: #fafafa;
}

.card-image {
  max-height: 140px;
  max-width: 140px;
}

.card-top-heading {
  color: #a5a5a5 !important;
  font-size: 13px !important;
}

.card-text {
  margin-bottom: 16px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  color: rgba(0,0,0,.87) !important;
  font-size: 13px !important;
}